<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User information-page</h1>
<table style="width: 1%;" border="1" cellpadding="5">
    <tr bgcolor="#dcdcdc">
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Email</td>
        <td>Role</td>
    </tr>

    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getRoles()}"></td>
    </tr>
</table>
<a th:href="@{/logout}">Logout</a>
</body>
</html>